<div class="row">
  <div class="col-md-10">
    <%= form_for @profile, :url => wizard_path, :method => :put, :html => { :multipart => true } do |f| %>
      <div class="form-group">
        <label for="id_type">Type of Id</label>
        <%= f.select :id_type, options_for_select([['Voter Id', '0'] ,['Aadhaar', '1']]), id: "id_type", :class => "form-control", :required => true %>
      <div class="voder_id_form hide">
        <div class="form-group">
          <label for="name_on_id">Name on Id</label>
          <%= f.text_field :name_on_id, id: "name_on_id", :class => "form-control" %>
        </div>
        <div class="form-group">
          <label for="id_number">Voter id no</label>
          <%= f.text_field :id_number, id: "id_number", :class => "form-control" %>
        </div>
        <div class="form-group">
          <label for="id_front_image">Id front Image</label>
          <%= f.file_field "id_front_image", id: "id_front_image", :class => "form-control" %>
        </div>
        <div class="form-group">
          <label for="id_back_image">Id back Image</label>
          <%= f.file_field "id_back_image", id: "id_back_image", :class => "form-control" %>
        </div>
      </div>
      <div class="aadhaar_form hide">
        <div class="form-group">
          <label for="name_on_id">Name on Id</label>
          <%= f.text_field :name_on_id, id: "name_on_id", :class => "form-control" %>
        </div>
        <div class="form-group">
          <label for="id_number">Aadhaar id no</label>
          <%= f.text_field :id_number, id: "id_number", :class => "form-control" %>
        </div>
        <div class="form-group">
          <label for="id_front_image">Id front Image</label>
          <%= f.file_field "id_front_image", id: "id_front_image", :class => "form-control" %>
        </div>
        <div class="form-group">
          <label for="id_back_image">Id back Image</label>
          <%= f.file_field "id_back_image", id: "id_back_image", :class => "form-control" %>
        </div>
      </div>
      <%= f.submit :class => "btn btn-success pull-right identity-proof-submit"%>
    <% end %>
  </div>
</div>
<style type="text/css">
  form {
    width: 250px;
    margin: 123px auto;
}
.file{
  visibility: visible !important;
}
.profile_id_back_image_file_name{
  margin-top: 100px;
} 
.identity-proof-submit{
  margin-top: 50px; 
}

</style>

<script type="text/javascript">
  $("#profile_id_type").change(function(){
        var selectedType = $("#profile_id_type option:selected").val();
        if (selectedType == "0"){
          $(".aadhaar_form").removeClass("show")
          $(".voder_id_form").addClass("show")
        }
        else if (selectedType == "1"){
          $(".voder_id_form").removeClass("show")
          $(".aadhaar_form").addClass("show")
        }
      });

</script>