<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5 pb-5">
        <div class="container">
          <h5 class="modal-title">LOG IN</h5>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <%# 
              resource = User.new
              resource_name = "user"
              devise_mapping = Devise.mappings[:user]
              %>
              <%= devise_error_messages! %>
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:html => {:class => "login-box login border-right pr-4"},:format => :json, :remote => true ) do |f| %>
                <div class="form-group mb-0">
                  <%= f.label "E-mail or username", class: "col-form-label" %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control h-25" %>
                </div>
                <div class="form-group mb-0">
                  <%= f.label "Password:", class: "col-form-label" %><br />
                  <div class="input-group">
                    <%= f.password_field :password, autocomplete: "off", :class => "form-control h-25 border-right-0" %>
                    <div class="input-group-append">
                      <div class="input-group-text bg-white border-left-0 " id="eye-icon">
                        <span class="fas fa-eye-slash" id="eye"></span> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <small><a href="#" class="password-req">I forgot my password </a></small>
                </div>
<!--                 <div class="form-group">
                  <input type="checkbox">
                  I Forget my password
                </div> -->
                <div class="form-group">
                  <!-- <input type="submit" value="Log In" class="btn btn-gradient w-100 mt-4 btn-hover-black"> -->
                  <%= f.submit "Log In", class: "btn btn-gradient w-100 mt-4 btn-hover-black" %>
                </div>
              <% end %>
              <div class="text-center pt-2"><small>Do not have an account yet? <a href="<%= new_user_registration_path%>">Sign Up</a></small></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 social mt-4">
              <h6>Other Alternatives:</h6>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text fb">
                    <i class="fab fa-facebook-f mx-1"></i>
                  </div>
                </div>
                <input type="button" class="form-control facebook-btn " value="Log in with your account">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text google">
                    <!--<i class="fab fa-google"></i>-->
                    <img src="google_g_logo.png" class="img-fluid" width="20px" height="20px" alt="">
                  </div>
                </div>
                <input type="button" class="form-control google-btn" value="Log in with Google">
              </div>
            </div>
          </div>
          <div class="password-sec d-none col-lg-8 col-md-12 col-sm-12 mx-auto mt-5">
            <div class="container">
              <div class="content">
                <p>Enter an email address to which to send your username and instructions to make the password change.</p>
                <div class="form-group mb-0">
                  <label for="recipient-name" class="col-form-label">E-mail or username:</label>
                  <input type="text" class="form-control h-25" id="user-name">
                </div>
                <div class="form-group">
                  <input type="submit" value="Request new password" class="btn btn-gradient w-100 mt-4 btn-hover-black">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= f.submit "Log in", class: "btn btn-success btn-sm form-control" %>
<script type="text/javascript">
  $("form.login-box").bind("ajax:success", function(e, data, status, xhr){
    if (data.success){
      location.reload();
          //javascript that executes if everything goes o.k.
          // $('#loginModal').modal('hide')
          // $('#sign_in_button').hide()
          // $('#submit_comment').slideToggle(1000, "easeOutBack" )
        }
    else{
      alert('failure!')
    }
  })
</script>