<section class="banner">
  <div class="banner-content text-center">
    <h1>Your Service Expert In Kakinada</h1>
    <p>Get instant access to reliable and affordable services</p>
    <%= simple_form_for :categories , url: "/categories/search", html: { class: "form-inline justify-content-center banner-form", multipart: true}, method: "GET" do |f| %>
      <div class="form-group ">
          <div class="input-group-btn menu-icon">
            <%= f.input :city , collection: City.all.map { |c| [c.name, c.id] }, input_html: {class: "select btn btn-bg-white text-box "}, :prompt => "Select City", label: false %>
          </div >
      </div>
      <div class="form-group text-box">
        <div class="input-group-btn ">
          <%= f.input :name, as: :search, input_html: {data: {autocomplete_source: autocomplete_categories_path, remote: true}, placeholder: "Select Category", class: "custom-form-control"}, label: false %>
        </div>
      </div>
      <div class="form-group btn btn-bg-white form-group-btn">
          <button type="submit" class=" btn-gradient btn banner-btn">Search
          </button>
      </div>
    <% end %>
  </div>
</section>

<!--services section-->
<section class="services">
  <div class="container ">
    <div class="row text-center ">
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mx-auto">
        <div class="service-info">
          <img src="assets//beauty.png" alt="">
          <p class="pt-2">Beauty & Spa</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mx-auto">
        <div class="service-info">
          <img src="assets//business.png" alt="">
          <p class="pt-2">Business</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mx-auto">
        <div class="service-info">
          <img src="assets//cleaning.png" alt="">
          <p class="pt-2">Cleaning</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mx-auto">
        <div class="service-info">
          <img src="assets//library.png" alt="">
          <p class="pt-2">Health & Wellness</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mx-auto">
        <div class="service-info">
          <img src="assets//personnal.png" alt="">
          <p class="pt-2">Personal & More</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2 mx-auto">
        <div class="service-info">
          <img src="assets//wedding.png" alt="">
          <p class="pt-2">Wedding & Events</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--multiple image sliders-->
<section class="categories">
  <div class="category-0 cat-carousel">
    <div class="container mt-4 ">
      <div class="row">
        <h5 class="pb-2">Recommended Services</h5>
        <div class="carousel carousel-0 owl-carousel owl-theme">
          <div class="item active" id="hide">
            <a href="#"><img src="assets/salon-at-home.jpg" alt="">
              <p>Salon at Home for Women</p>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/AC.jpg" alt="">
              <p>AC Repair</p>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/floor_cleaning3.jpg" alt="">
              <p>Home Deep Cleaning</p>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/chartered-accountant-insurance.jpg" alt="">
              <p>Chartered Accountant</p>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/pest_control.jpg" alt="">
              <p>Pest Control</p>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="assets/kitchen_deep_cleaning.jpg" alt="">
              <p>Kitchen Deep Cleaning</p>
            </a>
          </div>
        </div>
        <div class="owl-stage-outer">
          <div class="owl-stage">
            <div class="owl-item left left-0"><img src="assets/Rounded_shift_left_arrow.png" alt=""></div>
            <div class="owl-item right right-0"><img src="assets/circled-chevron-right.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% categories = Category.all %>
  <% categories.each do |cat| %>
    <div class="category-<%= cat.id%>  cat-carousel">
      <div class="container mt-2">
        <div class="row">
          <h5 class="pb-2"><%= cat.name %></h5>
          <div class="carousel carousel-<%= cat.id%> owl-carousel owl-theme">
            <% cat.sub_categories.each do |sub| %>
              <div class="item">
                <a href="<%= search_by_category_categories_path %>?category_id=<%=cat.id%>&subcategory_id=<%=sub.id%>">
                  <img src="<%= sub.image.url %>" alt="">
                  <p><%= sub.name %></p>
                </a>
              </div>
            <% end %>
          </div>
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item left left-<%= cat.id%>"><img src="assets/Rounded_shift_left_arrow.png" alt=""></div>
              <div class="owl-item right right-<%= cat.id%>"><img src="assets/circled-chevron-right.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
<section class="rennovating_planning pt-3 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="content pb-3 mb-3">
          <a href="#">
            <div class="img-grp">
                <img src="assets/renovation-image2.jpg" alt="" class="img-fluid img1" id="animation-left-1">
                <img src="assets/renovation-image1.jpg" alt="" class="img-fluid img2" id="animation-right-1">
                <img src="assets/renovation-image.jpg" alt="" class="img-fluid img3">
            </div>
            <h3 class="py-1">Renovating Your Home?</h3>
            <p class="px-5">Get inspiration ideas from 1000+ projects on home renovation and design</p>
          </a>
          <a href="#" class="btn btn-gradient browse-ideas-btn">BROWSE IDEAS</a>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="content pb-3">
          <a href="#">
            <div class="img-grp2">
              <img src="assets/wedding-couple-6-1.jpg" alt="" class="img-fluid img1 rounded-circle" id="animation-left-2">
              <img src="assets/wedding-pic2.jpg" alt="" class="img-fluid img2  rounded-circle"  id="animation-right-2">
              <img src="assets/wedd.jpg" alt="" class="img-fluid img3 rounded-circle">
            </div>
            <h3 class="py-1">Planning a Wedding?</h3>
            <p class="px-5">Get inspiration ideas from 1000+ projects on home renovation and design</p>
          </a>
          <a href="#" class="btn btn-gradient browse-ideas-btn">BROWSE IDEAS</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials py-3 ">
    <div class="container text-center">
        <h2>Satisfied Customers Testimonials & Referrals</h2>
        <p class="caption">Lorem ipsum dolor sit amet, consectetur adi Labore e Labore expedimus veipsum dolor<br> sit amet, consectetur adi sit amet, consectetur adie expedimus veniam.</p>
        <div class="row mx-auto py-3">
            <div class="carousel-reviews owl-carousel owl-theme">
                <div class="item active">
                    <div class="customer-info text-center">
                        <img src="assets/user1.jpg" class="img-fluid rounded-circle w-50 mx-auto" alt="">
                        <p class="font-italic py-2 m-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ficia asperiores quam inventore ad ab, sapiente voluptas soluta nesciunt."</p>
                        <h6 class="text-danger">Adam Smith</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="customer-info text-center">
                        <img src="assets/user2r.jpg" class="img-fluid rounded-circle  w-50  mx-auto" alt="">
                        <p class="font-italic  py-2 m-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ficia asperiores quam inventore ad ab, sapiente voluptas soluta nesciunt."</p>
                        <h6 class="text-secondary">Cristy</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="customer-info text-center">
                        <img src="assets/user3.jpg" class="img-fluid rounded-circle  w-50  mx-auto" alt="">
                        <p class="font-italic  py-2 m-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ficia asperiores quam inventore ad ab, sapiente voluptas soluta nesciunt."</p>
                        <h6 class="text-primary">James Jackson</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="customer-info text-center">
                        <img src="assets/user2r.jpg" class="img-fluid rounded-circle  w-50  mx-auto" alt="">
                        <p class="font-italic  py-2 m-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ficia asperiores quam inventore ad ab, sapiente voluptas soluta nesciunt."</p>
                        <h6 class="text-secondary">Cristy</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="customer-info text-center">
                        <img src="assets/user3.jpg" class="img-fluid rounded-circle  w-50  mx-auto" alt="">
                        <p class="font-italic  py-2 m-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ficia asperiores quam inventore ad ab, sapiente voluptas soluta nesciunt."</p>
                        <h6 class="text-primary">James Jackson</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="customer-info text-center">
                        <img src="assets/user2r.jpg" class="img-fluid rounded-circle  w-50  mx-auto" alt="">
                        <p class="font-italic  py-2 m-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ficia asperiores quam inventore ad ab, sapiente voluptas soluta nesciunt."</p>
                        <h6 class="text-secondary">Cristy</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="customer-info text-center">
                        <img src="assets/user3.jpg" class="img-fluid rounded-circle  w-50  mx-auto" alt="">
                        <p class="font-italic  py-2 m-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ficia asperiores quam inventore ad ab, sapiente voluptas soluta nesciunt."</p>
                        <h6 class="text-primary">James Jackson</h6>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


<section class="otherCategories pt-3">

    <div class="container">
        <h2>Other Categories In Kakinada</h2>
        <div class="row pt-3">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#">Free Water Purifier Check-Up</a></li>
                    <li><a href="#">Sceince Tutor</a></li>
                    <li><a href="#">Bathroom Renovation</a></li>
                    <li><a href="#">Home Cleaning Services</a></li>
                    <li><a href="#">Salon Spa Subscription</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#">Yoga at Studio</a></li>
                    <li><a href="#">Logo Designers</a></li>
                    <li><a href="#">GST Registration & Migration Services</a></li>
                    <li><a href="#">Relocation Service</a></li>
                    <li><a href="#">Salon at Home for Women</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#">Wedding Dresses</a></li>
                    <li><a href="#">Office Deep Cleaning</a></li>
                    <li><a href="#">Appliance Repair</a></li>
                    <li><a href="#">Chartered Accountant</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>
<hr>

<section class="expand-service pt-3">
    <div class="container text-center">
        <h2>Expand Your Service Business With OyeAbhi</h2>
        <p>Join a community of 75,000+ professionals who have successfully grown their business with OyeAbhi

        </p>
        <div class="row pt-3">
            <div class="col-md-4 col-sm-12 col-lg-4 ">
                <div class="card pt-4 mb-2">
                    <div class="card-img-top">
                        <img src="assets/best-photographer.jpg" class="rounded-circle img-thumbnail img-fluid" alt="">
                    </div>
                    <div class="card-body  py-2">
                        <h5>Vivek</h5>
                        <h6 class="dblue">Wedding Photographer</h6>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias natus ab nemo, ipsum quos labore.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="card pt-4 mb-2">
                    <div class="card-img-top">
                        <img src="assets/r2.jpg" class="rounded-circle img-thumbnail img-fluid" alt="">
                    </div>
                    <div class="card-body  py-2">
                        <h5>Dhanush</h5>
                        <h6 class="dblue">Packers & Movers</h6>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias natus ab nemo, ipsum quos labore.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
                <div class="card pt-4 mb-2">
                    <div class="card-img-top">
                        <img src="assets/r1.png" class="rounded-circle img-thumbnail img-fluid" alt="">
                    </div>
                    <div class="card-body  py-2">
                        <h5>Prasidh</h5>
                        <h6 class="dblue">Charted Accountant</h6>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias natus ab nemo, ipsum quos labore.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>




</section>

<section class="app py-3">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 pt-4">
                <img src="assets/mockup.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-md-6  my-auto">
                <h2>Download The App</h2>
                <p><small>Choose the book from 100+ services track them on the go with the OyeAbhi App</small></p>
                <form action="" class="form-inline app-form">
                    <input type="email" placeholder="Your Mail" class="form-control form-control-lg email">
                    <button type="submit" class="btn btn-gradient form-control">Text App Link</button>
                </form>
                <div class="download-btns mt-3">
                    <button type="submit" class="btn btn-success"><span class="fab fa-android fa-lg" aria-hidden="true"></span> DOWNLOAD <br><small>ANDROID VERSION 1.4</small></button>
                    <button type="submit" class="btn btn-primary"><span class="fab fa-apple fa-lg" aria-hidden="true"></span> DOWNLOAD <br> <small>IOS VERSION 1.4</small></button>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="join-now py-3">
    <div class="container">
        <div class="card text-center d-block py-4 justify-content-between align-items-center">
            <h5 class="card-text d-inline-block col-md-8 col-sm-12">Are You A Professional Looking To Grow Your Service Business?</h5>
            <button type="submit" class="btn btn-gradient btn-lg ">Text App Link</button>
        </div>
    </div>
</section>

<section class="features border border-left-0 border-right-0">
    <div class="container">

        <div class="row  ">
            <div class="col-md-4 py-4">
                <div class="d-flex justify-content-between feature-info">
                    <div class="my-auto"><img src="assets/quality.png" alt=""></div>
                    <div class="pl-3">
                        <h6>High Quality & Trusted Professionals</h6>
                        <p>We provide only verified, background checked and high quality professionals</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border border-top-0 border-bottom-0  py-4">
                <div class="d-flex justify-content-between feature-info">
                    <div class="my-auto"><img src="assets/matched.png" alt=""></div>
                    <div class="pl-3">
                        <h6>Matched To Your Needs</h6>
                        <p>We match you with the right professionals with the right budget</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-4">
                <div class="d-flex justify-content-between feature-info">
                    <div class="my-auto"><img src="assets/hassle-free.png" alt=""></div>
                    <div class="pl-3">
                        <h6>Hassle Free Service Delivery
                            s</h6>
                        <p>Super convenient, guaranteed service from booking to delivery</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>
<section class="counterup">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="stats-items">
                    <h1><span class="counter text-center">150</span></h1>
                    <p>LIVE SERVICES</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="stats-items">
                    <h1><span class="counter text-center">120</span></h1>
                    <p>CUSTOMERS SERVED</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="stats-items">
                    <h1><span class="counter text-center">140</span></h1>
                    <p>VERIFIED EXPERTS</p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="stats-items">
                    <h1><span class="counter text-center">130</span></h1>
                    <p>AVERGAE RATING</p>
                </div>

            </div>
        </div>
    </div>


</section>
<section class="useful-links pt-3">

    <div class="container">
        <div class="row">
            <ul class="list-inline main-links ">
                <li class="list-inline-item"><a href="#" class="active-link">About</a></li>
                <li class="list-inline-item"><a href="#">Oyeabhi Blog</a></li>
                <li class="list-inline-item"><a href="#">Weddings</a></li>
                <li class="list-inline-item"><a href="#">Homes</a></li>
                <li class="list-inline-item"><a href="#">Careers</a></li>
                <li class="list-inline-item"><a href="#">Join As A Professional</a></li>
                <li class="list-inline-item"><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li class="font-weight">COMPANY</li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Coupon</a></li>
                    <li><a href="#">Blacklisted Professionals</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li class="font-weight">SERVING IN</li>
                    <li><a href="#">Vishakhapatnam</a></li>
                    <li><a href="#">Kakinada</a></li>
                    <li><a href="#">Rajahmundry</a></li>
                    <li><a href="#">Vijaywada</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    
                    <li><a href="#">Guntur</a></li>
                    <li><a href="#">Amaravathi</a></li>
                    <li><a href="#">Tirupathi</a></li>
                    <li><a href="#">Nellore</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled pt-">
                    
                    <li><a href="#">Eluru</a></li>
                    <li><a href="#">Bhimavaram</a></li>
                    <li><a href="#">Vijayanagaram</a></li>
                    <li><a href="#">Bhubhaneswar</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>


    </section>
<script type="text/javascript">
  jQuery(function() {
    return $('#categories_name').autocomplete({
      source: $('#categories_name').data('autocomplete-source')
    });
  });

/*Carousel */
<% (0..categories.size).each do |index| %>
  $(document).ready(function () {
    $(".carousel-<%= index %>").owlCarousel({
        loop: false,
        margin: 20,
       nav: false,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            700: {
                items: 2
            },
            900: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    });
    var owl = $(".carousel-<%= index %>");
    owl.owlCarousel();
    // Go to the next item
    $(".right-<%= index %>").click(function () {
        owl.trigger('next.owl.carousel');
    })
    // Go to the previous item
    $(".left-<%= index %>").click(function () {
        // With optional speed parameter
        // Parameters has to be in square bracket '[]'
        owl.trigger('prev.owl.carousel', [300]);
    });
  });
<% end %>
</script>
<style type="text/css">
  ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000 !important;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
  }
}
.custom-form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 1px;
}
.custom-form-control::-webkit-input-placeholder {
    color: #a1a1a1;
    font-size: 1.3rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 50px !important;
    padding-left: 50px;
    cursor: pointer;
    z-index: 10;
}
</style>