<h1>Search Results </h1>
<% if @results.blank? %>
  No results found.
<% else %>
  <body>
      <div class="text-center py-2 sm-banner" style="background-color:#00e7bc;color: #fff;">
        <h2>Best result</h2>
        <h6>Available Now</h6>
      </div>
      <section class="review">
        <div class="container pt-3 px-5 " style="max-width: 1300px">
            <div class="row ">
              <div class="col-lg-4 col-md-12">
                <h5>Choose your preference</h5>
                <button class="btn btn-list-popup mx-auto d-none" data-toggle="modal" data-target="#user-list-Modal">Button 3</button>
                <% @results.each do |result| %>
                  <%
                    full_name = result["first_name"]+" "+result["last_name"]
                    id = result["id"]
                    avatar = result["avatar"]
                    image_url = "/uploads/profile/avatar/#{id}/#{avatar}"
                  %>
                  <div class="professionals-list border">
                    <div class="d-flex align-items-center professional-item border-bottom p-1" id="technician-<%= id %>">
                      <img src="<%= image_url %>" alt="" class="rounded-circle ml-2" width="40px" height="40px">
                      <div class="professional-name pl-4"><i><%= full_name%></i></div>
                      <div class="ml-auto">
                        <div class="star-ratings d-flex mr-2">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="user-list-Modal" tabindex="-1" role="dialog" aria-labelledby="user-list-Modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content ">
                        <div class="modal-header border-0">
                          <h5 class="pt-2">  Choose your preference</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="popup-professionals-list border rounded">
                          <div class="d-flex align-items-center professional-item border-bottom p-1" id="popup-<%= id %>">
                            <img src="<%= image_url %>" alt="" class="rounded-circle ml-2" width="40px" height="40px">
                            <div class="professional-name pl-4"><i><%= full_name%></i></div>
                            <div class="ml-auto">
                              <div class="star-ratings d-flex mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %></br></br>
                <%= form_tag find_near_area_path, method: "GET" do %>
                  <div>
                    <h5>Find near area</h5>
                    <%= select_tag "area", options_from_collection_for_select(Area.all, "id", "name"), class: "custom-select"%>
                  </div>
                  <div>
                    <%= button_tag "Find", class: "btn btn-next my-3"%>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-7  dark-header mx-auto mt-5">
                <% @results.each do |result| %>
                <%
                  full_name = result["first_name"]+" "+result["last_name"]
                  id = result["id"]
                  avatar = result["avatar"]
                  image_url = "/uploads/profile/avatar/#{id}/#{avatar}"
                  introduction = result["introduction"]
                %>
                <div class="row px-3">
                  <div class="col-sm-3 user-info-<%=id%>" id="<%= id %>" style="display: none;">
                    <img src="<%= image_url %>" alt="" class="rounded-circle technician-#{id} proff-img-<%= id%>" width="120px" height="120px" id="proff-img">
                  </div>
                  <div class="col-3 mt-4 name-star user-info-<%=id%>" style="display: none;">
                    <h6 class="profile-name-<%= id%>"><%= full_name%></h6>
                    <div class="star-ratings d-flex mr-2">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="col-6 user-info-<%=id%>" id="<%= id %>" style="display: none;">
                    <div class="medals text-right pt-2">
                      <%= image_tag 'medal-1.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                      <%= image_tag 'medal.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                      <%= image_tag 'award.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                      <%= image_tag 'gold-medal.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                    </div>
                  </div>
                </div>
                <div class="row gray user-info-<%=id%>" id="<%= id %>" style="display: none;">
                  <div class="">
                    <div class="about-me">
                      <small>About me:</small>
                      <p id="about-me-text-<%= id%>">“<%= introduction %>”</p>
                    </div>
                    <div class="d-flex justify-content-between align-content-center px-3 features-check">
                      <div class=""><i class="fas fa-check"></i>3 months warranty</div>
                      <div class=""><i class="fas fa-check"></i>3 months warranty</div>
                      <div class=""><i class="fas fa-check"></i>3 months warranty</div>
                    </div>
                  </div>
                  <div class="customers-comment-section px-3 pt-3">
                    <h5 class="border-bottom pb-2">Comments of <span class="profile-name"><%= full_name %></span></h5>
                    <div class="d-flex pt-2 customer-review border-bottom">
                      <img src="c1.jpg" alt="" class="rounded-circle customer-img" id="customer-img" width="80px" height="80px">
                      <div class="pl-3 mt-2">
                        <div class="customer-name">Abhishek</div>
                        <p id="posted-date" class="m-0">posted on Jan 6 19</p>
                        <div class="star-ratings d-flex mr-2 pt-1 ">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus magnam voluptas expedita, eligendi vero ullam.</p>
                      </div>
                    </div>
                    <div class="d-flex pt-2 customer-review border-bottom">
                      <img src="c2.jpg" alt="" class="rounded-circle customer-img" id="customer-img" width="80px" height="80px">
                      <div class="pl-3">
                        <div class="customer-name mt-2">Greeshma</div>
                        <p id="posted-date" class="m-0">posted on Jan 6 19</p>
                        <div class="star-ratings d-flex mr-2 pt-1">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus magnam voluptas expedita, eligendi vero ullam.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="col-lg-7 mx-auto mt-5 ">
                <input type="button" value="Next" class="btn btn-next float-right my-3 next-button" data-toggle="modal" data-target="#sendMessage">
              </div>
            </div>
        </div>
      </section>
      <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="sendMessage" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-5 pb-5">
        <div class="container">
          <h5 class="modal-title temp-title">Send Message</h5>
          <div class="row">
            <%= form_for User.new, :url => sms_path, remote: true do |f| %>
              <div class="form-group">
                <%#= f.label :first_name, class: "txt" %>
                <%= f.text_field :first_name, class: "txt form-control ", placeholder: "Please input your First Name"%>
              </div>
              <div class="form-group">
                <%#= f.label :last_name %>
                <%= f.text_field :last_name, class: "txt", placeholder: "Please input your Last Name" %>
              </div>
              <div class="form-group">
                <%#= f.label :email %>
                <%= f.text_field :email, class: "txt", placeholder: "Please input your Email"%>
              </div>
              <div class="form-group">
                <%#= f.label :phone %>
                <%= f.text_field :phone, class: "txt", placeholder: "Please input your Mobile No"%>
              </div>
              <div class="form-group">
                <%= f.text_area :city, class: "txt_3" %>
              </div>
              <%= f.hidden_field :professional_id %>
              <div>
                <%= f.submit "Send Message", class: "txt2 form-control"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </body>
<% end %>
<script>
  $(".next-button").on("click", function(){
    if ($('[class*="user-info-"]:visible')[0] != undefined){
      $("#user_professional_id").val($('[class*="user-info-"]:visible')[0].id)
    }
  })
  $(document).ready(function() {
    $('#eye-icon').hover(function() {
      $('#eye').toggleClass("fa-eye-slash fa-eye");
      var pass = $('#password');
      if (pass.attr('type') === "password") {
        pass.attr('type', 'text');
      } else {
        pass.attr('type', 'password');
      }
    });

    $('.password-req').click(function() {
      $('.password-sec').toggleClass('show');
    });
    /*adding background color for professional-item*/
    $('.professional-item').click(function() {
      $('.professional-item').removeClass('active-color');
      $(this).addClass('active-color');
    });
    <% if @results.present? %>
      <% id = @results.first["id"] %>
      $(".user-info-<%=id%>").css("display", "block");
      <% @results.each do |result|%>
        <%
          full_name = result["first_name"]+" "+result["last_name"]
          id = result["id"]
          avatar = result["avatar"]
          image_url = "/uploads/profile/avatar/#{id}/#{avatar}"
          introduction = result["introduction"]
        %>
        //content replace
        $("#technician-<%=id%>").click(function(e) {
          $('*[class*="user-info-"]').css("display", "none");
          $(".user-info-<%=id%>").css("display", "block");
          $('.proff-img-<%= id%>').attr('src', "<%= image_url %>");
          var pName = $("#technician-<%=id%> .professional-name");
          $('.profile-name-<%= id%>').text(pName.text());
          $('#about-me-text-<%= id%>').text("“<%=introduction%>”");
        });
      <% end %>
    <% end %>
  });

  $("form#new_user").on("ajax:success", function(e, data, status, xhr) {
    // $("#clients").append("<li>" + data['name'] + "</li>");
    // return $("#clients").effect("highlight");
  }).on("ajax:error", function(e, data, status, xhr) {
    return $("form").render_form_errors('user', data.responseJSON);
  });

$.fn.render_form_errors = function(model_name, errors) {
  var form;
  form = this;
  this.clear_form_errors();
  $.each(errors, function(field, messages) {
    var input;
    input = form.find('input, select, textarea').filter(function() {
      var name;
      name = $(this).attr('name');
      if (name) {
        return name.match(new RegExp(model_name + '\\[' + field + '\\(?'));
      }
    });
    input.closest('.form-group').addClass('has-error').css("color", "red");
    input.css("border-color", "red")
    return input.parent().append('<span class="help-block">' + $.map(messages, function(m) {
      return m.charAt(0).toUpperCase() + m.slice(1);
    }).join('<br />') + '</span>');
  });
};

$.fn.clear_form_errors = function() {
  this.find('.form-group').removeClass('has-error');
  return this.find('span.help-block').remove();
};

$.fn.clear_form_fields = function() {
  return this.find(':input', '#myform').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');
};
</script>

<style>
        .show {
    display: block !important;
}

/*professionals section*/
        .professionals-list
        {
          /*border: 2px solid #ccc !important;*/
            max-height: 500px !important;
            overflow-y: auto

        }
  .active-color
        {
            background: -webkit-linear-gradient(rgba(0,193,157,1) 0%, rgba(9,170,140,1) 100%) !important;
            background: -o-linear-gradient(rgba(0,193,157,1) 0%, rgba(9,170,140,1) 100%) !important;
            background: linear-gradient(rgba(0,193,157,1) 0%, rgba(9,170,140,1) 100%) !important;
            border-bottom: 1px solid #07f7df !important;

        }
        .professionals-list .professional-item 
        {
            background: -webkit-linear-gradient(rgba(233,233,233,1) 0%, rgba(222,222,222,1) 100%);
            background: -o-linear-gradient(rgba(233,233,233,1) 0%, rgba(222,222,222,1) 100%);
            background: linear-gradient(rgba(233,233,233,1) 0%, rgba(222,222,222,1) 100%);
            border-bottom: 1px solid #ccc !important;
        }
        .professionals-list .professional-item .star-ratings i,
        .popup-professionals-list .professional-item .star-ratings i
        {
            font-size: 11px;
            color: orange;
            padding-left: 2px
        }
        .professionals-list  .active-color .professional-name,
        .professionals-list  .active-color .star-ratings i
        {
            color: #fff
        }
       
        
        
        .dark-header
        {
            background-color: #266a77 !important;
            border-radius: 20px 20px 0 0px;
            position: relative;
        }
     .dark-header h6
        {
            color: #fff;
            margin-top: -10px
        }
    .dark-header .star-ratings i
        {
            color: #fff;
            font-size: 11px;
            padding-right: 3px;
            color: orange;


        }

     .dark-header #proff-img
        {
            margin-top: 20px;
            width: 100px !important;
            height: 100px !important;
        }
        .dark-header .medals img
        {
            padding-top: 20px
        }
     .gray
        {
            background-color: #eee;
            border-radius: 15px 15px 0 0;
            margin-top: -50px
        }
    
     .gray .about-me
        {
            padding-left: 140px;
            padding-right: 50px
        }
        .gray .features-check
        {
            padding: 10px;
            background-color: #fff;
            border: 1px solid #dddddd
        }
        .gray .features-check i
        {
            background-color: #0cc484;
            font-size: 12px;
            padding: 3px;
            border-radius: 100%;
            margin-right: 5px;
            color: #fff;
            
        }
        .customers-comment-section .customer-name
        {
            color: #adadad;
            font-style: italic;
            font-weight: 500;
            font-size: 17px
        }
        .customers-comment-section .customer-review #posted-date
        {
            font-style: italic !important;
        }
        .customers-comment-section .customer-review .star-ratings i
        {
            font-size: 14px !important
        }
        .review .dark-header
        {
            max-width: 915px
        }
        
        .review .btn
        {
       
        border:2px solid #00e7bc !important;
        width: 100%;
        color: #666666;
        font-size: 18px;
        margin:0 2px
        }
        
        .review .btn-list-popup
        {
            width: 98% !important;
            margin-bottom: 10px
        }
         .review .btn-next
        {
        background-color:  #00e7bc !important;
        width: 150px;
        color: #fff;
        font-size: 18px;
        margin:0 5px;
        margin-right: -212px;
        }
        .review .btn:hover
        {
            color: #fff;
            background-color: #00e7bc !important;
            text-decoration: underline
        }
/*End of professionals section*/

.signup .form-control {    
    padding: 5px;
}



.signup .container .form-col {
    padding-right: 10% !important
}

.signup .box {
    padding-top: 25px !important;
    height: 35px;
}

select {
    padding-right: 70px !important;
}


@media screen and (max-width:1200px) {

    .signup .container .form-col {
        padding-right: 5% !important
    }

}

@media screen and (max-width:991px) {

    .signup .col-md-12 {
        border: none !important
    }

}


@media screen and (max-width:991px) and (min-width:768px) {





    .signup .row {
        padding-left: 80px !important;
        padding-right: 80px !important
    }

    .signup-with .container {
        padding: 0 30px !important;
    }




}

@media screen and (max-width:767px) {
    .signup .d-flex {
        justify-content: space-around !important;
    }

    .signup .d-flex .form-group:first-child {
        margin-right: 20px
    }

    .signup-with .container {
        padding: 0 30px !important;
    }

    .signup .box {
        padding-top: 18px !important;
    }
    
    
    
    /*professional section and reviews & rating section section*/

    .sm-banner
    {
        padding: 0 !important
    }
    .sm-banner h2
    {
        font-size: 30px
    }
    
    .review .btn-list-popup
    {
            display: block !important
    }
    .professionals-list 
    {
        display: none
    }
    popup-professionals-list
    {
        display: block !important;
    }
     .dark-header 
    {
        margin: 0 !important
    }
        .dark-header .row .name-star 
    { 
      display: block !important ;
        width: 100%;
        padding-top: 30px;
        padding-left: 30px;
    }
    .dark-header .row .col-6 
    { 
        padding-top: 30px; 

    }
    .gray
    {
        margin-top: 0px
    }
    .gray .about-me
    {
            padding-left: 20px;
            padding-right:20px
    }
    .customer-review
    {
     display: block !important;
        text-align: center;

    }
    .customer-review .star-ratings
    {
        justify-content: center
    }
    .customer-review .pl-3
    {
        padding: 0 !important
    }
     .review .btn-next
        {
        width: 150px;
        color: #fff;
        font-size: 18px;
        margin:0 5px;
        margin-right: -1px !important;
        }

}
@media screen and (max-width:575px) {
    
   
    
    .dark-header .row .col-sm-3
    {
        display: block !important;
        text-align: center
    }
    .features-check
    {
        display: none !important
    }
    .name-star .star-ratings 
    {
        justify-content: center;
        margin: 0 !important
    }
    .dark-header .row .name-star
    {   flex: 100%;
        max-width: 100%;
        text-align: center !important;
        padding: 0;
            
    }
    .dark-header .row .col-6 .medals
    {
        text-align: center !important;
        padding: 0;
        margin: 0;
    }
    .dark-header .row .col-6 
    { 
        flex: 100%;
        max-width: 100%;
        padding: 0;
            
    }
    
    .gray
    {
        max-width: 150% !important;
    }
    
    .review .btn-next
        {
        width: 100%;
        color: #fff;
        font-size: 18px;
        margin:0 0px;
        margin-right: 01px !important;
        }
    
        }



@media screen and (max-width:434px) {

    .signup .col-md-12 {
        padding: 0 20px !important
    }

    .signup .d-flex {
        display: block !important
    }

    .signup-with .container {
        padding: 0 !important;
    }

    .signup .signup-with .form-control {
        padding: 0px !important;
    }

    .signup .box {
        padding: 0px !important;
        margin-top: 20px !important
    }

}
    
.pl-3, .px-3 {
  padding-left: 1rem !important;
}   

element.style {
}
.review .dark-header {
    max-width: 915px;
}
.dark-header {
    background-color: #266a77 !important;
    border-radius: 20px 20px 0 0px;
    position: relative;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.mt-5, .my-5 {
    margin-top: 2rem !important;
}

.new_user {
    width: 55%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}   
.form {
    border-radius: 7px;
    padding: 6px;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 180%;
}
.txt_3 {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 180%;
}
.txt2[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}
.temp-title{
  margin-left: -16px !important;
  margin-top: -34px !important;
  margin-bottom: 28px !important;
}
    </style>