<h1>Search Results </h1>
<% if @users.blank? %>
  No results found.
<% else %>
  <body>
      <div class="text-center py-2 sm-banner" style="background-color:#00e7bc;color: #fff;">
        <h2>Best result</h2>
        <h6>Available Now</h6>
      </div>
      <section class="review">
        <div class="container pt-3 px-5 " style="max-width: 1300px">
            <div class="row ">
              <div class="col-lg-4 col-md-12">
                <h5>Choose your preference</h5>
                <button class="btn btn-list-popup mx-auto d-none" data-toggle="modal" data-target="#user-list-Modal">Button 3</button>
                <% @users.each do |user| %>
                  <div class="professionals-list border rounded mt-4">
                    <div class="d-flex align-items-center professional-item border-bottom p-1" id="technician-<%= user.id %>">
                      <img src="<%= user.profile.avatar.url %>" alt="" class="rounded-circle ml-2" width="40px" height="40px">
                      <div class="professional-name pl-4"><i><%= user.full_name%></i></div>
                      <div class="ml-auto">
                        <div class="star-ratings d-flex mr-2">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="user-list-Modal" tabindex="-1" role="dialog" aria-labelledby="user-list-Modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content ">
                        <div class="modal-header border-0">
                          <h5 class="pt-2">  Choose your preference</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="popup-professionals-list border rounded">
                          <div class="d-flex align-items-center professional-item border-bottom p-1" id="popup-<%= user.id %>">
                            <img src="<%= user.profile.avatar.url %>" alt="" class="rounded-circle ml-2" width="40px" height="40px">
                            <div class="professional-name pl-4"><i><%= user.full_name%></i></div>
                            <div class="ml-auto">
                              <div class="star-ratings d-flex mr-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-7  dark-header mx-auto mt-5">
                <% @users.each do |user| %>
                <div class="row px-3 user-info-<%=user.id%>" style="display: none;">
                  <div class="col-sm-3 ">
                    <img src="<%= user.profile.avatar.url %>" alt="" class="rounded-circle technician-#{user.id}" width="120px" height="120px" id="proff-img-<%= user.id%>">
                  </div>
                  <div class="col-3 mt-4 name-star">
                    <h6 class="profile-name-<%= user.id%>"><%= user.full_name%></h6>
                    <div class="star-ratings d-flex mr-2">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="medals text-right pt-2">
                      <%= image_tag 'medal-1.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                      <%= image_tag 'medal.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                      <%= image_tag 'award.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                      <%= image_tag 'gold-medal.png', alt:"", class: "p-0 py-1", :style => "width: 30px" %>
                    </div>
                  </div>
                </div>
                <div class="row gray user-info-<%=user.id%>" style="display: none;">
                  <div class="">
                    <div class="about-me">
                      <small>About me:</small>
                      <p id="about-me-text-<%= user.id%>">“<%= user.profile.introduction %>”</p>
                    </div>
                    <div class="d-flex justify-content-between align-content-center px-3 features-check">
                      <div class=""><i class="fas fa-check"></i>3 months warranty</div>
                      <div class=""><i class="fas fa-check"></i>3 months warranty</div>
                      <div class=""><i class="fas fa-check"></i>3 months warranty</div>
                    </div>
                  </div>
                  <div class="customers-comment-section px-3 pt-3">
                    <h5 class="border-bottom pb-2">Comments of <span class="profile-name"><%= user.full_name %></span></h5>
                    <div class="d-flex pt-2 customer-review border-bottom">
                      <img src="c1.jpg" alt="" class="rounded-circle customer-img" id="customer-img" width="80px" height="80px">
                      <div class="pl-3 mt-2">
                        <div class="customer-name">Abhishek</div>
                        <p id="posted-date" class="m-0">posted on Jan 6 19</p>
                        <div class="star-ratings d-flex mr-2 pt-1 ">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus magnam voluptas expedita, eligendi vero ullam.</p>
                      </div>
                    </div>
                    <div class="d-flex pt-2 customer-review border-bottom">
                      <img src="c2.jpg" alt="" class="rounded-circle customer-img" id="customer-img" width="80px" height="80px">
                      <div class="pl-3">
                        <div class="customer-name mt-2">Greeshma</div>
                        <p id="posted-date" class="m-0">posted on Jan 6 19</p>
                        <div class="star-ratings d-flex mr-2 pt-1">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus magnam voluptas expedita, eligendi vero ullam.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="col-lg-7 mx-auto mt-5 ">
                <input type="button" value="Next" class="btn btn-next float-right my-3">
              </div>
            </div>
        </div>
      </section>
  </body>
<% end %>
<script>
  $(document).ready(function() {
    $('#eye-icon').hover(function() {
      $('#eye').toggleClass("fa-eye-slash fa-eye");
      var pass = $('#password');
      if (pass.attr('type') === "password") {
        pass.attr('type', 'text');
      } else {
        pass.attr('type', 'password');
      }
    });

    $('.password-req').click(function() {
      $('.password-sec').toggleClass('show');
    });
    /*adding background color for professional-item*/
    $('.professional-item').click(function() {
      $('.professional-item').removeClass('active-color');
      $(this).addClass('active-color');
    });
    $(".user-info-<%=@users.first.id%>").css("display", "block");
    <% @users.each do |user|%>
      //content replace
      $("#technician-<%=user.id%>").click(function(e) {
        $('*[class*="user-info-"]').css("display", "none");
        $(".user-info-<%=user.id%>").css("display", "block");
        $('#proff-img-<%= user.id%>').attr('src', "<%= user.profile.avatar.url %>");
        var pName = $("#technician-<%=user.id%> .professional-name");
        $('.profile-name-<%= user.id%>').text(pName.text());
        $('#about-me-text-<%= user.id%>').text("“<%=user.profile.introduction%>”");
      });
    <% end %>
  });
</script>

<style>
        .show {
    display: block !important;
}

/*professionals section*/
        .professionals-list
        {
          border: 2px solid #ccc !important;
            max-height: 500px !important;
            overflow-y: auto

        }
  .active-color
        {
            background: -webkit-linear-gradient(rgba(0,193,157,1) 0%, rgba(9,170,140,1) 100%) !important;
            background: -o-linear-gradient(rgba(0,193,157,1) 0%, rgba(9,170,140,1) 100%) !important;
            background: linear-gradient(rgba(0,193,157,1) 0%, rgba(9,170,140,1) 100%) !important;
            border-bottom: 1px solid #07f7df !important;

        }
        .professionals-list .professional-item 
        {
            background: -webkit-linear-gradient(rgba(233,233,233,1) 0%, rgba(222,222,222,1) 100%);
            background: -o-linear-gradient(rgba(233,233,233,1) 0%, rgba(222,222,222,1) 100%);
            background: linear-gradient(rgba(233,233,233,1) 0%, rgba(222,222,222,1) 100%);
            border-bottom: 1px solid #ccc !important;
        }
        .professionals-list .professional-item .star-ratings i,
        .popup-professionals-list .professional-item .star-ratings i
        {
            font-size: 11px;
            color: orange;
            padding-left: 2px
        }
        .professionals-list  .active-color .professional-name,
        .professionals-list  .active-color .star-ratings i
        {
            color: #fff
        }
       
        
        
        .dark-header
        {
            background-color: #266a77 !important;
            border-radius: 20px 20px 0 0px;
            position: relative;
        }
     .dark-header h6
        {
            color: #fff;
            margin-top: -10px
        }
    .dark-header .star-ratings i
        {
            color: #fff;
            font-size: 11px;
            padding-right: 3px;
            color: orange;


        }

     .dark-header #proff-img
        {
            margin-top: 20px;
            width: 100px !important;
            height: 100px !important;
        }
        .dark-header .medals img
        {
            padding-top: 20px
        }
     .gray
        {
            background-color: #eee;
            border-radius: 15px 15px 0 0;
            margin-top: -50px
        }
    
     .gray .about-me
        {
            padding-left: 140px;
            padding-right: 50px
        }
        .gray .features-check
        {
            padding: 10px;
            background-color: #fff;
            border: 1px solid #dddddd
        }
        .gray .features-check i
        {
            background-color: #0cc484;
            font-size: 12px;
            padding: 3px;
            border-radius: 100%;
            margin-right: 5px;
            color: #fff;
            
        }
        .customers-comment-section .customer-name
        {
            color: #adadad;
            font-style: italic;
            font-weight: 500;
            font-size: 17px
        }
        .customers-comment-section .customer-review #posted-date
        {
            font-style: italic !important;
        }
        .customers-comment-section .customer-review .star-ratings i
        {
            font-size: 14px !important
        }
        .review .dark-header
        {
            max-width: 915px
        }
        
        .review .btn
        {
       
        border:2px solid #00e7bc !important;
        width: 100%;
        color: #666666;
        font-size: 18px;
        margin:0 2px
        }
        
        .review .btn-list-popup
        {
            width: 98% !important;
            margin-bottom: 10px
        }
         .review .btn-next
        {
        background-color:  #00e7bc !important;
        width: 150px;
        color: #fff;
        font-size: 18px;
        margin:0 5px;
        margin-right: 35px;
        }
        .review .btn:hover
        {
            color: #fff;
            background-color: #00e7bc !important;
            text-decoration: underline
        }
/*End of professionals section*/

.signup .form-control {    
    padding: 5px;
}



.signup .container .form-col {
    padding-right: 10% !important
}

.signup .box {
    padding-top: 25px !important;
    height: 35px;
}

select {
    padding-right: 70px !important;
}


@media screen and (max-width:1200px) {

    .signup .container .form-col {
        padding-right: 5% !important
    }

}

@media screen and (max-width:991px) {

    .signup .col-md-12 {
        border: none !important
    }

}


@media screen and (max-width:991px) and (min-width:768px) {





    .signup .row {
        padding-left: 80px !important;
        padding-right: 80px !important
    }

    .signup-with .container {
        padding: 0 30px !important;
    }




}

@media screen and (max-width:767px) {
    .signup .d-flex {
        justify-content: space-around !important;
    }

    .signup .d-flex .form-group:first-child {
        margin-right: 20px
    }

    .signup-with .container {
        padding: 0 30px !important;
    }

    .signup .box {
        padding-top: 18px !important;
    }
    
    
    
    /*professional section and reviews & rating section section*/

    .sm-banner
    {
        padding: 0 !important
    }
    .sm-banner h2
    {
        font-size: 30px
    }
    
    .review .btn-list-popup
    {
            display: block !important
    }
    .professionals-list 
    {
        display: none
    }
    popup-professionals-list
    {
        display: block !important;
    }
     .dark-header 
    {
        margin: 0 !important
    }
        .dark-header .row .name-star 
    { 
      display: block !important ;
        width: 100%;
        padding-top: 30px;
        padding-left: 30px;
    }
    .dark-header .row .col-6 
    { 
        padding-top: 30px; 

    }
    .gray
    {
        margin-top: 0px
    }
    .gray .about-me
    {
            padding-left: 20px;
            padding-right:20px
    }
    .customer-review
    {
     display: block !important;
        text-align: center;

    }
    .customer-review .star-ratings
    {
        justify-content: center
    }
    .customer-review .pl-3
    {
        padding: 0 !important
    }
     .review .btn-next
        {
        width: 150px;
        color: #fff;
        font-size: 18px;
        margin:0 5px;
        margin-right: -1px !important;
        }

}
@media screen and (max-width:575px) {
    
   
    
    .dark-header .row .col-sm-3
    {
        display: block !important;
        text-align: center
    }
    .features-check
    {
        display: none !important
    }
    .name-star .star-ratings 
    {
        justify-content: center;
        margin: 0 !important
    }
    .dark-header .row .name-star
    {   flex: 100%;
        max-width: 100%;
        text-align: center !important;
        padding: 0;
            
    }
    .dark-header .row .col-6 .medals
    {
        text-align: center !important;
        padding: 0;
        margin: 0;
    }
    .dark-header .row .col-6 
    { 
        flex: 100%;
        max-width: 100%;
        padding: 0;
            
    }
    
    .gray
    {
        max-width: 150% !important;
    }
    
    .review .btn-next
        {
        width: 100%;
        color: #fff;
        font-size: 18px;
        margin:0 0px;
        margin-right: 01px !important;
        }
    
        }



@media screen and (max-width:434px) {

    .signup .col-md-12 {
        padding: 0 20px !important
    }

    .signup .d-flex {
        display: block !important
    }

    .signup-with .container {
        padding: 0 !important;
    }

    .signup .signup-with .form-control {
        padding: 0px !important;
    }

    .signup .box {
        padding: 0px !important;
        margin-top: 20px !important
    }

}
    
    
    
    </style>